/* import the necessary Bootstrap files */
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/bootstrap";

body {
    font-family: Muli, sans-serif;

    #title { font-family: "Space Mono", monospace; } 

    .nav > .nav-link { color: $light !important; }
    .nav > .nav-link.active { color: $dark !important; }
}

